<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.yellow-amber.min.css" />
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="{{url_for('static',filename='ajax.js')}}"></script>
    <title>Перенос фотографий</title>
</head>
<body>
    <br>
    <div style="margin-top: 5%;margin-left: 20%">
    <!-- Accent-colored raised button with ripple -->
        <p>Как использовать:<br>
            1.Переходим по ссылке 'Получить ссылку на токен' и вводим свои данные<br>
            2.Нас перекидывает на новую страницу,копируем URL (ссылку на эту страницу)<br>
            3.Возвращаемся на нашу страничку и вставляем в поле 'token'<br>
            4.Копируем и вставляем адреса наших альбомов<br>
            5.Нажимаем кнопочку 'Перенести фотографии'</p>
    <a href="{{ token_url}} "target="_blank">
      Получить ссылку на токен
    </a>
    <br>
    <!-- Simple Textfield -->
    <form  id="ajax_form" method="post" action="/start_copying">
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="token" name="token">
            <label class="mdl-textfield__label" for="token">Ссылка на токен</label>
        </div>
        <br>
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" style="min-width: 500px" type="text" id="from_url" name="from_url">
            <label class="mdl-textfield__label" style="min-width: 500px" for="from_url">Ссылка на альбом из которого нужно достать фото</label>
        </div>
        <br>
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" style="min-width: 500px" type="text" id="to_url" name="to_url">
            <label class="mdl-textfield__label" style="min-width: 500px" for="to_url">Ссылка на альбом, в который нужно перенсти информацию</label>
        </div>
        <br>
                <!-- FAB button -->
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="button" id="btn">
          <i class="material-icons">Перенести фотографии</i>
        </button>

    </form>
    <form id="result_form" action="">

    </form>
        </div>


</body>
</html>